.container {
    padding: 20px;
    height: 400px;
    width: 600px;
}

form {
    padding: 10px;
    width: 570px;
    height: 500px;
}

label {
    font-size: 28px;
    font-weight: 600;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    color: rgb(82, 80, 80);
}

input {
    height: 64px;
    border-radius: 7px;
}

input.ng-invalid.ng-touched {
    border: 1px outset red;
}

button {
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
}