<div class="card bg-light mb-3" style="max-width: 35rem;">
    <div><h6>Add Employee</h6></div>
      <div class="card-body">
  <form #addForm="ngForm" (ngSubmit)="submit(addForm)">
      <div class="form-group">
        <label for="exampleInputEmail1">Full Name</label>
        <input type="text" #fname="ngModel" name="fname" required minlength="3" pattern="[a-zA-Z ]*" class="form-control" ngModel >
        <small style="color: red;" *ngIf="fname.invalid && fname.touched">*Enter a valid First Name </small>
      </div>
      <div class="form-group">
          <label >Designation</label>
          <input type="text" #des="ngModel" name="des" required minlength="6" pattern="[a-zA-Z][a-zA-Z ]+" class="form-control" ngModel >
          <small style="color: red;" *ngIf="des.invalid && des.touched">*Please enter a Designation </small>
      </div>
      <div class="form-group">
          <label >Salary</label>
          <input type="number" #sal="ngModel" name="sal" required minlength="4" maxlength="6" pattern="^(?=[0-9]{4,6}$)0*[1-9][0-9]{3,}$" class="form-control" ngModel >
          <small style="color: red;" *ngIf="sal.invalid && sal.touched">* Please Enter Salary Details </small>
        </div>
        <div class="form-group">
          <label >Age</label>
          <input type="number" #age="ngModel" name="age" required minlength="2" pattern="^0?1[89]|0?[2-9][0-9]$" class="form-control" ngModel >
          <small style="color: red;" *ngIf="age.invalid && age.touched">*Please enter a Valid Age </small>
        </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
      </div>
    </div>
